Port 22

# Authentication:
LoginGraceTime 1m
PermitRootLogin no
MaxAuthTries 3

#Specify allowed users
AllowUsers urbanslug deploy

AuthorizedKeysFile      %h/.ssh/authorized_keys

PasswordAuthentication no
PermitEmptyPasswords no

UsePAM yes

PrintMotd no # pam does that

# override default of no subsystems
Subsystem       sftp    /usr/lib/ssh/sftp-server

# This enables password logins to root over SSH.
PermitRootLogin no